<h3>You are logged in as <%=@user.username%></h3>

<ul>
  <%@breeds.each do |breed|%>
  <li><%=breed.name%></li>
    <ul>
      <%breed.animals.each do |animal|%>
        <% if animal.state_id == @state_id.to_i %>
          <li> <a href="/animals/<%=animal.id%>"><%=animal.name%></a></li>
        <% end %>
      <%end%>
    </ul>
  <%end%>
</ul>
