<form action="/adoption_form" method="POST">
  <input type="text" name="animal[name]" placeholder="Pet Name">
  <input type="text" name="animal[species]" placeholder="Species">
  <input type="text" name="user[breed]" placeholder="Breed">
  <input type="text" name="user[state]" placeholder="State">
  <input type="text" name="user[owner]" placeholder="Owner">
  <input type="submit" value="Post for Adoption">
</form>
